---
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import '../styles.css';
import type { SeoMetadata } from '../storyblok/types';

interface Props {
  seo_metadata?: SeoMetadata | undefined;
}

const { seo_metadata } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <title>{seo_metadata?.title} | CodeGov</title>
    <meta name="description" content={seo_metadata?.description} />
  </head>
  <body class="body">
    <Navbar />

    <main class="main">
      <slot />
    </main>

    <footer>
      <Footer />
    </footer>
  </body>
</html>

<script>
  import { defineCustomElements } from '@cg/ui/loader';

  defineCustomElements();
</script>

<style lang="scss">
  @use '@cg/styles/common';

  .body {
    display: flex;
    flex-direction: column;
  }

  .main {
    margin-left: auto;
    margin-right: auto;
    flex: 1 1 0%;
    @include common.px(4);
    @include common.py(5);
    @include common.container;
  }
</style>
