---
import type { MarkdownLayoutProps } from 'astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import '../styles.css';

type Props = MarkdownLayoutProps<{
  title: string;
  description: string;
}>;

const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <title>{frontmatter.title} | CodeGov</title>
    <meta name="description" content={frontmatter.description} />
  </head>
  <body class="flex flex-col">
    <Navbar />

    <article class="flex-1">
      <h1>{frontmatter.title}</h1>
      <slot />
    </article>

    <footer>
      <Footer />
    </footer>
  </body>
</html>
