# Various IDEs and Editors
.idea/
**/*~

# Mac OSX temporary files
.DS_Store
**/.DS_Store

# dfx temporary files
.dfx/

# rust
target/

# frontend code
node_modules/
dist/
.astro/
.turbo/

build/
.docusaurus/
.cache-loader/

loader/
.stencil/
lib/ui/src/components.d.ts

src/frontend/src/global-config.json

# environment variables
.env
