# Various IDEs and Editors
.idea/
**/*~

# Mac OSX temporary files
.DS_Store
**/.DS_Store

# dfx temporary files
.dfx/

# rust
target/

# frontend code
node_modules/
dist/
.astro/
.turbo/
coverage/

# environment variables
.env

/data/

/src/backend/integration/state/*nns_state
