---
import twitterLogo from '../assets/twitter-logo.png';
import dscvrLogo from '../assets/dscvr-logo.png';
---

<div class="flex flex-row justify-between px-2 py-3">
  <div class="flex flex-row">
    <a
      href="https://dscvr.one/p/codegov"
      target="_blank"
      rel="noopener noreferrer"
      class="ml-4"
      title="CodeGov Portal on DSCVR"
      aria-label="CodeGov Portal on DSCVR"
    >
      <img class="h-7" src={dscvrLogo.src} alt="DSCVR Logo" />
    </a>

    <a
      href="https://twitter.com/codegovorg"
      target="_blank"
      rel="noopener noreferrer"
      class="ml-4"
      title="Follow CodeGov on Twitter"
      aria-label="Follow CodeGov on Twitter"
    >
      <img class="h-7" src={twitterLogo.src} alt="Twitter Logo" />
    </a>
  </div>

  <div>
    <div>
      CodeGov Neuron ID: <a
        href="https://dashboard.internetcomputer.org/neuron/2649066124191664356"
        target="_blank"
        rel="noopener noreferrer">2649066124191664356</a
      >
    </div>
  </div>

  <div>
    <a href="/apply">Apply</a>
  </div>
</div>
