---
import { getGlobalConfigStory } from '../storyblok/api';

const {
  content: { footer_links },
} = await getGlobalConfigStory();
---

<footer class="footer">
  <div class="footer__main">
    {
      footer_links.map(linkCategory => (
        <div class="footer__link-category-container">
          <h2 class="footer__link-category-title">{linkCategory.title}</h2>

          <ul class="footer__link-category">
            {linkCategory.children.map(link => (
              <li>
                <a href={link.content.cached_url} class="footer__link">
                  {link.title}
                </a>
              </li>
            ))}
          </ul>
        </div>
      ))
    }
  </div>

  <div class="footer__copyright">
    <div class="footer__copyright-content">
      <span class="footer__copyright-text">
        © {new Date().getFullYear()} CodeGov™. All Rights Reserved.
      </span>
    </div>
  </div>
</footer>
