---
import { getGlobalConfigStory } from '../storyblok/api';

const {
  content: { footer_links },
} = await getGlobalConfigStory();
---

<footer class="bg-white dark:bg-slate-900">
  <div
    class="container mx-auto flex flex-col justify-between px-4 py-6 md:flex-row lg:max-w-screen-lg"
  >
    {
      footer_links.map(linkCategory => (
        <div class="py-3 md:py-5">
          <h2 class="mb-6 text-sm font-semibold uppercase text-slate-900 dark:text-white">
            {linkCategory.title}
          </h2>
          <ul class="list-none font-medium text-gray-500 dark:text-gray-400">
            {linkCategory.children.map(link => (
              <li>
                <a href={link.content.cached_url} class="hover:underline">
                  {link.title}
                </a>
              </li>
            ))}
          </ul>
        </div>
      ))
    }
  </div>

  <div class="bg-slate-100 dark:bg-slate-800">
    <div class="container mx-auto px-4 py-6 md:flex md:justify-center">
      <span class="text-sm dark:text-slate-300">
        © {new Date().getFullYear()} CodeGov™. All Rights Reserved.
      </span>
    </div>
  </div>
</footer>
