---
import type { AstroBuiltinAttributes } from 'astro';
import Link from '../Link.astro';

const { className, ...props } = Astro.props;

export interface Props {
  href: string;
  className?: AstroBuiltinAttributes['class:list'];
}
---

<li>
  <Link className={['dropdown-item', className]} {...props}>
    <slot />
  </Link>
</li>
