---
import type { AstroBuiltinAttributes } from 'astro';

const { className, ...props } = Astro.props;

export interface Props {
  className?: AstroBuiltinAttributes['class:list'];
}
---

<nav class:list={['navbar', className]} {...props}>
  <slot />
</nav>
