---
import { storyblokEditable } from '@storyblok/astro';
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro';
import { type GridBlok, editable } from './types';

interface Props {
  blok: GridBlok;
}

const { blok } = Astro.props;
---

<div {...storyblokEditable(editable(blok))}>
  <div
    class="container mx-auto my-12 grid place-items-center gap-12 md:grid-cols-3"
  >
    {blok.children.map(blok => <StoryblokComponent blok={editable(blok)} />)}
  </div>
</div>
