---
import ChevronIcon from '../icons/ChevronIcon.astro';
---

<collapsible-content>
  <button data-header class="collapsible__trigger">
    <slot name="header" />

    <ChevronIcon />
  </button>

  <div
    class="collapsible__content collapsible__content--closed"
    data-body-wrapper
  >
    <slot name="body" />
  </div>
</collapsible-content>

<script>
  class Collapsible extends HTMLElement {
    constructor() {
      super();

      const headerBtn = this.querySelector('[data-header]');
      if (!headerBtn) {
        throw new Error('Collapsible must have a header button');
      }

      const bodyWrapper = this.querySelector('[data-body-wrapper]');
      if (!bodyWrapper) {
        throw new Error('Collapsible must have a body wrapper');
      }

      headerBtn.addEventListener('click', () => {
        bodyWrapper.classList.toggle('collapsible__content--closed');
      });
    }
  }

  customElements.define('collapsible-content', Collapsible);
</script>
