---
import type { AstroBuiltinAttributes } from 'astro';
import ChevronIcon from '../icons/ChevronIcon.astro';

export interface Props {
  menuTriggerClassName?: AstroBuiltinAttributes['class:list'];
  ariaLabel?: string;
  id: string;
}

const { menuTriggerClassName, ariaLabel, id } = Astro.props;
---

<dropdown-component>
  <div data-wrapper class="dropdown">
    <button
      data-menu-trigger
      class:list={[menuTriggerClassName, 'dropdown__trigger']}
      aria-label={ariaLabel}
      aria-expanded="false"
      aria-controls={id}
      aria-haspopup="menu"
    >
      <div><slot name="menuTrigger" /></div>

      <div data-menu-chevron class="dropdown__chevron" aria-hidden="true">
        <ChevronIcon />
      </div>
    </button>

    <div
      class:list={['dropdown__menu', 'dropdown__menu--closed']}
      data-menu-wrapper
      id={id}
      role="menu"
    >
      <slot name="menu" />
    </div>
  </div>
</dropdown-component>

<script>
  class DropdownComponent extends HTMLElement {
    constructor() {
      super();

      let isOpen = false;

      const wrapper = this.querySelector('[data-wrapper]');
      if (!wrapper) {
        throw new Error('Dropdown must have a wrapper');
      }

      const menuTriggerBtn = this.querySelector('[data-menu-trigger]');
      if (!menuTriggerBtn) {
        throw new Error('Dropdown must have a menu trigger button');
      }

      const menuWrapper = this.querySelector('[data-menu-wrapper]');
      if (!menuWrapper) {
        throw new Error('Dropdown must have a menu wrapper');
      }

      const menuChevron = this.querySelector('[data-menu-chevron]');
      if (!menuChevron) {
        throw new Error('Dropdown must have a menu chevron');
      }

      menuTriggerBtn.addEventListener('click', () => {
        console.log('Toggling dropdown', isOpen);
        isOpen = !isOpen;

        menuWrapper.classList.toggle('dropdown__menu--closed');
        menuTriggerBtn.setAttribute('aria-expanded', isOpen ? 'true' : 'false');
        console.log('isExpanded', menuTriggerBtn.getAttribute('aria-expanded'));
        menuChevron.classList.toggle('dropdown__chevron--open');
      });

      document.addEventListener('click', event => {
        if (event.target && !wrapper.contains(event.target as Node)) {
          menuWrapper.classList.add('dropdown__menu--closed');
          menuTriggerBtn.setAttribute('aria-expanded', 'false');
          menuChevron.classList.remove('dropdown__chevron--open');
        }
      });
    }
  }

  customElements.define('dropdown-component', DropdownComponent);
</script>
