---
import type { AstroBuiltinAttributes } from 'astro';
import NavLink from './NavLink.astro';

const { className, ...props } = Astro.props;

export interface Props {
  href: string;
  disabled?: boolean;
  className?: AstroBuiltinAttributes['class:list'];
}
---

<li class:list={['nav-item', className]}>
  <NavLink {...props}>
    <slot />
  </NavLink>
</li>
